/* Navbar css */
nav{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
}

nav .left{
    width: 50%;
}
nav .right{
    width: 100%;
    text-align: end;
    padding-right: 10px;
}


/* Main Panel Css */

.mainPanel{
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

.mainPanel aside{
    background-color: rgb(52 58 64);
    color: aliceblue;
    padding: 0px 10px;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

.mainPanel aside .CompanyProfile{
    display: grid;
    grid-template-columns: 40px auto;
    /* background-color: antiquewhite; */
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid white;
    /* padding: 20px; */
}
.mainPanel aside .CompanyProfile div{
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
}

.mainPanel aside .nav-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
}

.mainPanel aside .nav-items .nav-item{
    padding: 10px;
    /* background-color: aqua; */
    width: 100%;
    /* text-align: center; */
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.mainPanel aside .nav-items .active{
    background-color: aqua;
    color: black
}

.mainPanel aside .nav-items .nav-item:not(.active):hover{
    background-color: rgb(95, 100, 105);
    color: white;
}

.mainPanel .main-container{
    padding: 20px;
}
