/* Navbar css */
nav{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
}

nav .left{
    width: 50%;
}
nav .right{
    width: 100%;
    text-align: end;
    padding-right: 10px;
}


/* Main Panel Css */

.mainPanel{
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

.mainPanel aside{
    background-color: black;
    color: aliceblue;
    padding: 20px 10px;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-container{
    /* height: 200vh; */
}