/* Navbar css */
nav{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
}

nav .left{
    width: 50%;
}
nav .right{
    width: 100%;
    text-align: end;
    padding-right: 10px;
}


/* Main Panel Css */

.mainPanel{
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

.mainPanel aside{
    background-color: rgb(52 58 64);
    color: aliceblue;
    padding: 0px 10px;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

.mainPanel aside .CompanyProfile{
    display: grid;
    grid-template-columns: 40px auto;
    /* background-color: antiquewhite; */
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid white;
    /* padding: 20px; */
}
.mainPanel aside .CompanyProfile div{
    
}

.main-container{
    /* height: 200vh; */
}